.topnav {
  padding: 1em;
  justify-content: right;
  background-color: black;
  border-bottom: solid 1px #413a27;
  align-items: center;
  display: flex;
  gap: 2em;

  p {
    font-size: 1.2em;
    color: white;
  }

  &__button {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: white;
    padding: 0.5em;
    background-color: #1ba4f3;
    border: none;
    border-radius: 5px;
  }

  &__black-line {
    color: grey;
  }
}

.navbar {
  font-size: 13px;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1.5em;
  display: flex;

  &__list {
    display: flex;
    list-style: none;
    gap: 2em;

    li {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

    &:hover {
      color: #a29160;
    }

    &--active {
      color: #a29160;
    }
  }
}

.navlink {
  display: flex;
  gap: 20px;
}
