.searchnav {
    &__topnav {
        padding: 1em;
        justify-content: right;
        background-color: black;
        border-bottom: solid 1px #413a27;
        align-items: center;
        display: flex;
        gap: 2em;
    }

    &__text {
        color: white;
        font-size: 0.8em;
        margin-left: 0.2em;
    }

    &__logo {
        margin-right: auto;

        img {
            height: 60px;
            width: auto;
        }
    }

    &__search {
        position: relative;
        width: 500px;
        display: flex;
        align-items: center;
    }

    &__input-wrapper {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__input {
        width: 100%;
        padding: 0.7em;
        padding-right: 2.5em;
        border-radius: 3px;
        border: 1px solid grey;
        color: #d0d0d0;
        font-size: 14px;

        &::placeholder {
            color: #d0d0d0;
        }

        &:focus {
            outline: none;
            border-color: #a29160;
        }
    }

    &__icon--inside {
        position: absolute;
        right: 10px;
        color: red;
    }

    &__icon {
        font-size: 1.3em;
        color: grey;
        cursor: pointer;
        transition: color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        &:hover {
            color: #a29160;
        }


    }

    &__symbol {
        font-size: 1.3em;
        color: white;
        cursor: pointer;
        transition: color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;

        &:hover {
            color: #a29160;
        }


    }

    &__symbol-cart,
    &__symbol-account {
        font-size: 1.3em;
        color: grey;
        cursor: pointer;
        transition: color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        &:hover {
            color: #a29160;
        }
    }

}

.navbar {
    font-size: 13px;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 1.5em;
    display: flex;

    &__list {
        display: flex;
        list-style: none;
        gap: 2em;

        li {
            display: flex;
            align-items: center;
        }
    }

    &__link {
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;

        &:hover {
            color: #a29160;
        }

        &--active {
            color: #a29160;
        }
    }
}