@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.searchnav {
  &__topnav {
    padding: 1em;
    justify-content: right;
    background-color: black;
    border-bottom: solid 1px #413a27;
    align-items: center;
    display: flex;
    gap: 2em;

    @include mobile {
      padding: 0.5em;
      gap: 1em;
      flex-wrap: wrap;
    }

    .link {
      &__account,
      &__cart {
        color: black;
      }
    }
  }

  &__text {
    color: white;
    font-size: 0.5em;
    margin-left: 0.2em;

    @include mobile {
      display: none;
    }
  }

  &__logo {
    margin-right: auto;

    img {
      height: 60px;
      width: auto;

      @include mobile {
        height: 40px;
      }
    }
  }

  &__search {
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;

    @include mobile {
      width: 100%;
      order: 3;
      margin-top: 0.5em;
    }
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 100%;
    padding: 0.7em;
    padding-right: 2.5em;
    border-radius: 3px;
    border: 1px solid grey;
    color: #d0d0d0;
    font-size: 14px;

    &::placeholder {
      color: #d0d0d0;
    }

    &:focus {
      outline: none;
      border-color: #a29160;
    }
  }

  &__icon--inside {
    position: absolute;
    right: 10px;
    color: grey;
  }

  &__icon {
    font-size: 1.3em;
    color: grey;
    cursor: pointer;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    &:hover {
      color: #a29160;
    }
  }

  &__symbol {
    font-size: 1.8em;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

    &:hover {
      color: #a29160;
    }

    &-contact {
      display: flex;
    }
  }

  &__symbol-cart,
  &__symbol-account {
    text-transform: uppercase;
    font-size: 1.8em;
    color: grey;
    cursor: pointer;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    &:hover {
      color: #a29160;
    }
  }
}

.navbar {
  font-size: 13px;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1.5em;
  display: flex;
  position: relative;

  @include mobile {
    padding: 1em;
    justify-content: start;
    align-items: start;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 2em;

    @include mobile {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      background-color: black;
      padding: 1em;
      gap: 1em;

      &.open {
        display: flex;
        align-items: center;
        position: relative;
      }
    }

    li {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

    &:hover {
      color: #a29160;
    }

    &--active {
      color: #a29160;
    }
  }
}

.burger-menu-cart {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;

  @include mobile {
    display: flex;
  }
}

.burger-bar-cart {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  position: relative;

  &.open:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }

  &.open:nth-child(2) {
    opacity: 0;
  }

  &.open:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -6px);
  }
}
