/// Made by Magnus ///

/* - 🅼🅸🆇🅸🅽 - */

@mixin flex-or-grid($display, $justify: null, $align: null, $items: null) {
  display: $display;

  @if $justify {
    justify-content: $justify;
  }

  @if $align {
    align-content: $align;
  }

  @if $items {
    justify-items: $items;
    align-items: $items;
  }
}

// Media Queries Mixin
@mixin media($min: null, $max: null) {
  @if $min and $max {
    @media only screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $min {
    @media only screen and (min-width: $min) {
      @content;
    }
  } @else if $max {
    @media only screen and (max-width: $max) {
      @content;
    }
  }
}