@import "base/fonts";

.customer_info {
  text-align: center;
  min-height: 100vh;
  margin-top: 50px;
  font-family: "Museo Sans Rounded 700";

  h1 {
    margin-bottom: 20px;
    font-size: 3rem;
  }

  .form_group {
    margin-bottom: 20px;
  }

  .form_group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .form_group input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }

  .form_group input:focus {
    outline: none;
    border-color: #a49372;
  }

  .form_loginbutton {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    background-color: #a39161;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .form_signupbutton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: #a39161;
  }



  @keyframes slideDown {
    0% {
      opacity: 0;
      max-height: 0;
      display: none;
    }

    100% {
      opacity: 1;
      max-height: 1000px;
      visibility: visible;
    }
  }


  #signup-form {
    display: none;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    margin-top: 20px;
  }

  #signup-form.show {
    display: block;
    animation: slideDown 1s ease-in-out forwards;
  }
}