.privacy-policy-box {
  .headline-in-policy {
    font-family: "Museo Sans Rounded 700";
    font-size: 3rem;
    color: rgb(255, 255, 255);
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
  .pic-in-policy {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    background-image: url("/img/return.jpg");
  }

  .section-with-healines-and-text {
    display: block;
    padding: 25px;
    margin: 0 auto;
    max-width: 600px;
  }

  h2 {
    text-transform: uppercase;
    margin-top: 20px;
    font-family: "Museo Sans Rounded 700";
    font-size: 1.5rem;
    color: #a39161;
  }

  h3 {
    text-transform: uppercase;
    margin-top: 20px;
    font-family: "Museo Sans Rounded 500";
    font-size: 1rem;
  }

  li {
    line-height: 30px;
    font-family: "Museo Sans Rounded 300";
  }

  p {
    line-height: 30px;
    font-family: "Museo Sans Rounded 300";
    margin-top: 20px;
  }
}
